/* Example CSS */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

*{
  font-family: Sans-serif;
}

.calender-event-Holiday {
  background-color: #F1B44C;
}

.calender-event-Holiday:hover {
  background-color: #F1B44C;
}

.calender-event-Birthday {
  background-color:  #34C38F;
}

.calender-event-Birthday:hover {
  background-color:  #34C38F;
}

.calender-event-Anniversary {
  background-color: #F46A6A;
}

.calender-event-Anniversary:hover {
  background-color: #F46A6A;
}

.calender-event-Leave {
  background-color: #74788D;
}

.calender-event-Leave:hover {
  background-color: #74788D;
}


.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--background);
}
